table.definitions_overview td.actions {
  width: 5%;
}

table.definitions_overview td.actions a {
  padding: 0 10px 0 0;
}

dfn {
  border-bottom: 1px dashed #AEAE95;
  cursor: help;
  font-style: normal;
}
